* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes load {
    0%, 10% {opacity: 100%;}
    100% {opacity: 0;}
}

@keyframes rotate {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(360deg);}
}

@keyframes shadow {
    0% {border-left: 15px solid transparent;border-right: 15px solid transparent; right: 63px;}
    25% {border-left: 40px solid transparent;border-right: 40px solid transparent; right: 36px;}
    50% {border-left: 15px solid transparent;border-right: 15px solid transparent; right: 63px;}
    75% {border-left: 40px solid transparent;border-right: 40px solid transparent; right: 36px;}
    100% {border-left: 15px solid transparent;border-right: 15px solid transparent; right: 63px;}
}

@keyframes start {
    0% {opacity: 0; height: 100%;}
    40% {opacity: 100%; height: 100%;}
    60% {opacity: 100%; height: 100%;}
    100% {opacity: 0; height: 100%;}
}

@keyframes darken {
    0% {opacity: 0;}
    100% {opacity: 60%;}
}

@keyframes sparkle {
    0% {opacity: 100%;}
    50% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes cards {
    0% {padding-top: 170px; opacity: 0;}
    50% {padding-top: 130px; opacity: 100%;}
}

@keyframes reveal {
    0% {opacity: 0;}
    20%{opacity: 100%;}
    59% {scale: 1;}
    60% {scale: 1.2;}
    80% {scale: 1;}
}

@keyframes down {
    0% {top: -10%;}
    50% {top: 0;}
}

@keyframes up {
    0% {bottom: -10%;}
    50% {bottom: 0;}
}

@keyframes remove-star {
    0% {margin: 0; opacity: 100%;}
    100% {margin: 0 30px; opacity: 0;}
}

@keyframes add-star {
    0% {margin: 0 30px; opacity: 0;}
    100% {margin: 0; opacity: 100%;}
}

::selection {
    background: red;
  }

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-shadow: white 0 0 5px;
    font-family: "Sawarabi Mincho", serif;
}

main::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(transparent 90%, black);
}

main {
    overflow: hidden;
}

main::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(https://www.crownperth.com.au/getmedia/ae49898c-9fc6-477a-91f5-18a0c4cc4d1e/230818-Crown-Perth-Casino-Main-Gaming-Floor-1800x1200-2.jpg?height=1199);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
}

/* Screen */
#screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.load {
    z-index: 6;
    animation-name: load;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.start-ease {
    z-index: 5;
    animation-name: start;
    animation-fill-mode: forwards;
    animation-duration: 3.5s;
}

.darken {
    z-index: 1;
    animation-name: darken;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/* Start menu */
.start-menu {
    z-index: 4;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle farthest-corner at 0px 0px, black 40%, rgb(234, 11, 37) 70%);
    overflow: hidden;   
}

.start-menu > h1 {
    position: inherit;
    top: 50px;
    left: 100px;
    font-size: 40px;
    filter: drop-shadow(10px 8px 0 rgb(167, 0, 0));
}

.start-menu > h1 > span:nth-child(1) {
    font-size: 70px;
}

.start-menu > ul {
    position: inherit;
    font-size: 30px;
    left: 115px;
    bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/* start menu card */
#card {
    z-index: 4;
    position: absolute;
    right: 180px;
    bottom: 100px;
    width: 280px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    scale: 0.9;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: inherit;
    border-radius: 15px;
    background-size: cover;
}

.front {
    transform: rotateZ(-32deg);
    background-image: url(./imgs/paper.jpg);
}

.back {
    transform: rotateY(180deg) rotateZ(-32deg);
    background-image: url(./imgs/back.jpeg);
}

.shadow {
    position: absolute;
    right: 63px;
    bottom: -120px;
    opacity: 50%;
    border-top: 500px solid black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transform: rotateZ(80deg);
    filter: blur(1px);
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#kaiji {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 90vh;
    background: url(./imgs/kaiji.png);
    background-size: cover;
}

/* Header */
header {
    position: relative;
    z-index: 3;
    padding: 5px 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    box-shadow: 0 5px 10px black;
}

header > * {
    flex-shrink: 0;
}

ul {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;
    list-style-type: none;
    font-size: 24px;
}

.link:hover {
    text-shadow: red 0 0 5px;;
    color: red;
    transition: 0.1s;
    transform: scale(1.1);
    cursor: pointer;
}

.link:active {
    transform: scale(1.05);
}

/* Life section */
.life-container {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    margin: 0 auto;
    width: 80vw;
    height: calc(((100vh - var(--header-height)) * 0.65) * 0.5);
}

#player-lp {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
}

.life-point {
    position: relative;
    z-index: 0;
    width: 45px;
    height: 45px;
    background: url(https://png.pngtree.com/png-vector/20231107/ourmid/pngtree-goldan-3d-star-emoji-icon-png-image_10459560.png);
    background-size: cover;
    scale: 1.3;
    filter: drop-shadow(0 0 4px black);
}

.remove-star {
    animation-name: remove-star;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.add-star {
    animation-name: add-star;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

/* Card numbers */
.card-numbers-display {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-height);
    margin: auto;
    width: 80vw;
    height: calc((100vh - var(--header-height)) * 0.65);
    display: flex;
    align-items: end;
    gap: 15px;
}

.card-numbers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    display: flex;
    filter: drop-shadow(0 0 3px black);
}

.card-numbers > * {
    margin: 0 2px;
}

/* Text box */
.text-box-section {
    position: relative;
    z-index: 1;
    height: calc((100vh - var(--header-height)) * 0.35);
}

#text-box {
    margin: auto;
    width: 80vw;
    height: 90%;
    border: 3px double white;
    background-color: rgba(0, 0, 0, 70%);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-box:hover {
    cursor: pointer;
}

#text-box > p {
    padding: 0 20px;
    width: 90%;
    height: 80%;
    display: block;
    overflow-y: scroll;
    scrollbar-color: red transparent;
    scrollbar-width: thin;
}

.sparkle {
    margin-left: 5px;
    font-size: 20px;
    animation-name: sparkle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Card section */
.choice-cards {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    padding-top: 130px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    animation-name: cards;
    animation-duration: 2s;
}

.card {
    flex-shrink: 0;
    width: 210px;
    height: 300px;
    background: url(./imgs/back.jpeg);
    background-size: cover;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.rock {
    background: url(./imgs/rock.jpg);
    background-size: cover;
}

.paper {
    background: url(./imgs/paper.jpg);
    background-size: cover;
}

.scissors {
    background: url(./imgs/scissors.jpg);
    background-size: cover;
}

.choice-cards > *:hover {
    scale: 1.05;
    transition: 0.1s;
    cursor: pointer;
}

.choice-cards > *:active {
    scale: 1.03;
}

.reveal-cards {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 9%;
    margin-top: 70px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
}

#kaiji-card {
    transform: rotate(180deg);
    position: relative;
    animation-name: reveal, down;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#player-card {
    position: relative;
    animation-name: reveal, up;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* End */
.end {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.515);
}

.replay-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.replay-div button {
    z-index: 3;
    margin: 0 50px;
    padding: 0 30px;
    font-family: "Sawarabi Mincho", serif;;
    font-size: 40px;
    text-shadow: white 0 0 5px;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px black;
    border: 3px double white;
}

.replay-div button:hover {
    scale: 1.08;
    background-color: red;
    cursor: pointer;
}

.replay-div button:active {
    scale: 1.04;
}

/* Others */
.hidden {
    display: none;
}

@media screen and (max-width: 798px) {  
    .card {
        width: 160px;
        height: 230px;
    }

    .choice-cards {
        margin-top: 50px;
    }

}

@media screen and (max-height: 700px) {
    .card {
        width: 160px;
        height: 230px;
    }
}

/* mobile */
@media (max-width:480px) {
    #kaiji {
        width: 90vw;
    }

    header {
        font-size: 0.8em;
    }

    .card {
        width: 110px;
        height: 150px;
    }

    .card-numbers-display {
        gap: 5px;
        z-index: 2;
        height: 0;
        bottom: -78%;
        padding-right: 15px;
        justify-content: end;
    }
    
    .card-numbers {
        font-size: 20px;
    }
    
}
